<br />
<div class="d-flex flex-column align-items-center">
    <h1 style="color:black">
        @ViewData["MENSAJE"]
    </h1>
    <a class="btn btn-outline-dark" asp-area="" asp-controller="Usuarios" asp-action="Login">Ir a iniciar sesion</a>
</div>