@model Usuario
<style>
    html, body {
        overflow-y: hidden;
    }
</style>

<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<!-- Section: Design Block -->
<!-- Login 13 - Bootstrap Brain Component -->
<section class=" bg-light vh-100 d-flex align-items-end">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="text-center mb-3">
                            <a href="#!">
                                <img src="~/images/logo-sin-fondo.png" style="width:150px; height:150px">
                            </a>
                        </div>
                        <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Inicia sesión con tu cuenta</h2>
                        <form method="post">
                            <div class="row gy-2 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-outline mb-4">
                                        <input type="email" name="email" class="form-control" />
                                        <label class="form-label" for="email">Email address</label>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" name="password" class="form-control" />
                                    <label class="form-label" for="password">Password</label>
                                </div>
                                @if (Model != null)
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Perfumes" asp-action="Index">Perfumes</a>
                                }
                                else
                                {
                                    <h2 style="color:darkred; font-size: medium;">
                                        @ViewData["MENSAJE"]
                                    </h2>
                                }
                                <button class="btn btn-outline-dark btn-block mb-4">Iniciar sesion</button>
                                    
                                <div class="col-12">
                                    <p>¿No estas Registrado? <br /> <a asp-area="" asp-controller="Usuarios" asp-action="Register" style="color:dimgrey">Registrarse</a></p>
                                    <br />
                                    <a asp-area="" asp-controller="Perfumes" asp-action="Index" style="color:dimgrey">Continuar como invitado</a></p>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>