@{
    int idUsuario = int.Parse(ViewData["IDUSUARIO"].ToString());
    int idPerfume = int.Parse(ViewData["IDPERFUME"].ToString());

}
<h2>Insertar comentario:</h2>
<form method="post">
    <input type="hidden" name="perfumeID" value="@idPerfume" class="form-control" />
    <input type="hidden" name="usuarioID" value="@idUsuario" class="form-control" />
    <input type="text" name="comentario" class="form-control" />

    <!-- Agrega el campo de valoración -->
    <div>
        <label for="rating">Valoración:</label>
        <select name="rating" id="rating">
            <option value="1">1 estrella</option>
            <option value="2">2 estrellas</option>
            <option value="3">3 estrellas</option>
            <option value="4">4 estrellas</option>
            <option value="5">5 estrellas</option>
        </select>
    </div>

    <button class="btn btn-outline-dark btn-block">Publicar comentario</button>
</form>